/* Boîte de réception */
table.boite_reception { padding:2px; border-collapse: collapse; margin: 15px 0;width: 675px}
table.boite_reception tr {margin:2px;border-top: 1px solid #ccc;}
table.boite_reception td {vertical-align:middle;}
.boite_reception .avatar{padding-top: 15px; width:38px; height:56px;}
.boite_reception .expediteur{width:100px; padding-top: 15px;height:56px;}
.boite_reception .contenu{padding-top: 15px; padding-left:10px; width:418px; height:56px; }
.boite_reception .contenu.non-lu{font-weight:bolder; font-size: 13px;}

/* Menu de la messagerie */
.messagerie.menu{}
.messagerie.menu ul{list-style: none;}
.messagerie.menu ul li{float:left;padding: 10px 0 10px 0}
.messagerie.menu ul li a{padding: 20px 13px 10px 12px; margin:0 0 0 6px; text-decoration: none; color:#000;font-weight: bold}
.messagerie.menu ul li a:hover, .messagerie.menu ul li a.active{color :#ffcc00; background-image: url('/img/fleche3.png'); background-repeat: no-repeat; background-position: 0% 70%;padding-left: 15px;}

/* Voir un message */
.messagerie {}
.messagerie.voir {background-color: #fff; padding: 20px; text-align: justify; width:645px; display: block; position: absolute; top:50px;}
.messagerie.avatar {float: left;}
.messagerie.expediteur {display: inline;}
.messagerie.sujet {margin: 10px 0;}
.messagerie.sujet span {font-weight: bold; color: #00ccff; font-size:14px;}
.messagerie.date {float:right;}
.messagerie.contenu {}
.messagerie.boutons { float: right; padding: 8px;margin-bottom:15px;}
.messagerie.boutons a { margin: 10px 12px 10px 0px;}

/* Ecrire un message */
.messagerie.formulaire {}
.ss-titre {color: #00ccff; font-weight:bold; font-size:15px; }
.ss-titre1 {color: #66b700; font-weight:bold; font-size:15px; }
.underline {border:1px solid #999999;}